<div class="card border">

    <div class="thumb">
        <img [src]="job.logo" alt="job icon">
    </div>

    <div class="details">

        <div class="company">
            <h3>{{ job.company }}</h3>
        </div>

        <div class="job-title">
            <h1>{{ job.position }}</h1>
        </div>

        <div class="job-details">
            <p>{{ job.postedAt }}</p>
            <p>{{ job.contract }}</p>
            <p>{{ job.location }}</p>
        </div>

    </div>

    <div class="tags">
        <p *ngFor="let language of job.languages">{{ language }}</p>
        <p *ngFor="let tool of job.tools">{{ tool }}</p>
    </div>

</div>