<div class="card border">

    <div class="thumb">
        <img src="../../../../assets/img/photosnap.svg" alt="job icon">
    </div>

    <div class="details">

        <div class="company">
            <h3>Photosnap</h3>
        </div>

        <div class="job-title">
            <h1>Senior Front-End Developer</h1>
        </div>

        <div class="job-details">
            <p>1d ago</p>
            <p>Full Time</p>
            <p>USA only</p>
        </div>

    </div>

    <div class="tags">
        <p>Frontend</p>
        <p>Senior</p>
        <p>HTML</p>
        <p>CSS</p>
        <p>JavaScript</p>
    </div>

</div>